@model List<Author>
@{
    ViewData["Title"] = "Index";
}

@{
    if (ViewData["Result"].ToString() == "0")
    {
        <h1>Authors</h1>
        <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
        <a asp-action="GetDeletedAuthors" class="btn btn-sm btn-info">GetDeletedAuthors</a>
        <table class="table table-md mt-2 table-dark ">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Date OF Birth</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td>@author.AuthorName</td>
                        <td>@author.AuthorSurname</td>
                        <td>@author.AuthorDateOfBirth</td>
                        <td>
                            <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id=@author.AuthorId>Edit</a>
                            <a asp-action="Details" class="btn btn-sm btn-warning" asp-route-id=@author.AuthorId>Details</a>
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id=@author.AuthorId>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>Categories</h1>
        <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
        <a asp-action="Index" class="btn btn-sm btn-info">List To Back</a>
        <table class="table table-md mt-2 table-dark ">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Date OF Birth</td>
                    <td>IsDeleted</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td>@author.AuthorName</td>
                        <td>@author.AuthorSurname</td>
                        <td>@author.AuthorDateOfBirth</td>
                        <td>@author.IsDeleted</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
